<section class="bg-gray-100 dark:bg-gray-800 min-h-[calc(100%-8em)] flex flex-col justify-end xl:justify-center py-16">
	<div class="container mx-auto px-6 text-star space-y-3">
		<h1 class="text-4xl md:text-5xl lg:text-6xl font-bold text-gray-800 dark:text-white">
			Welcome to<br>
			<i class="text-orange-600">the</i> 
			Paywall Museum.
		</h1>
		<p class="text-gray-600 dark:text-gray-300">
			Discover new exciting, creative ways for capitalism to leech off your wallet.
		</p>
		<div>
			<a
				href="/"
				class="button"
			>
				Browse Paywalls
			</a>
		</div>
	</div>
</section>